*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(235, 235, 235);
}
.customButton{
  margin: 10px;
  padding: 10px 30px;
  background-color: white;
  transition: .4s ease-in;
  cursor: pointer;
  background-color: tomato;
  border: 1px solid tomato;
  color: white;
  font-weight: 600;
}
.customButton:hover{
  background-color: white;
  border: 1px solid tomato;
  transition: .4s ease-in-out;
  color: tomato;
}